<h1>Add Queue</h1>

<%= form_with(model: @customer) do |form| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
            <ul>
            <% @customer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :"Customer name:" %>
        <%= form.text_field :customer_name, placeholder: "Michael Scott" %>
    </div>

    <div class="field">
        <%= form.label :"Mobile number:" %>
        <%= form.text_field :mobile_number, placeholder: "09771236969" %>
    </div>

    <div class="field">
        <%= form.label :"How many people?:" %>
        <%= form.text_field :pax, placeholder: "7" %>
    </div>

    <div class="actions">
        <%= form.submit "Submit" %>
    </div>
<% end %>

<%= link_to 'Back', customers_path %>